<h1>Recent Posts</h1><br>

<%= render 'shared/posts', controller: 'dashboard/index' %>

<h1>Recent Likes</h1><br>

<%= render 'shared/likes' %>

<h1>Recent Comments</h1><br>

<%= render 'shared/comments' %>
