<%= form_with(model: [ object, object.likes.build ], remote: true, html: { class: "inline-style" }) do |form| %>
  <%= form.hidden_field 'likeable_id', value: object.id %>
  <%= form.hidden_field 'likeable_type', value: type %>
  <button type="submit" class="like-button" >
    <%= object.likes.count %>
    <i class="far fa-heart icon-color" aria-hidden="true"></i>
  </button>
<% end %>
