<%= form_with(model: like, method: :delete, local: true, html: { class: "inline-style" }) do |form| %>
  <button type="submit" class="like-button">
    <%= object.likes.count %>
    <i class="fa fa-heart icon-color" aria-hidden="true"></i>
  </button>
<% end %>
