<% unless object.user == current_user %>
  <p style="display: inline; margin-left: 2%">
    <%= post_report(object) if controller == 'posts' %>
    <%= comment_report(object) if controller == 'comments' %>
  </p>
<% end %>
