<table>
  <tr>
    <th>Content</th>
    <th colspan="3"></th>
  </tr>

  <% suggestions.each do |suggestion| %>
    <tr>
      <td><%= suggestion.content %></td>
      <td><%= link_to 'Show', suggestion_path(suggestion) %></td>
      <td><%= link_to 'Delete', suggestion_path(suggestion),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
